body {
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}

header ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 40px;
}

header ul li {
  display: inline;
  margin-right: 10px;
}

main ol {
  list-style-type: decimal;
  margin-top: 3em;
  padding-left: 40px;
}

.content p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.1em;
}

.content:nth-of-type(2) {
  /* il secondo article dentro main */
  text-align: center;
}

footer ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

footer {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

#footer-menu > li {
  /* trova tutti gli <li> discendenti diretti dell'elemento con id="footer-menu" */
}
